html {
  position: relative;
  min-height: 100%;
}

.music-geek-monthly {
  margin-bottom: 6em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer .container > div {
  padding: 1em;
}

.btn i {
  margin-right: 1em;
}

.user__image {
  max-width: 5em;
}

.tracks {
  margin: 1em;
  border: 1px solid #000;
}

.track {
  border: 1px solid #000;
  padding: 1em;
}

.track.even {
  background: #eee;
}

.track-scores {
  margin: 1em 0;
}

.score-wrapper {
  display: inline-block;
  width: 8em;
}

.score {
  border-radius: 50%;
  height: 6em;
  width: 6em;
  display: block;
  padding: 2.5em 1em;
  font-size: large;
  line-height: 1;
  text-align: center;
}

.score-hit,
.score.hit {
  background: #5cb85c;
}

.score-miss,
.score.miss {
  background: #d9534f;
}

.score-maybe,
.score.maybe {
  background: #5bc0de;
}

.score-me {

}

.score-btn {
  padding: 1em 0 0;
  margin-right: 1em;
  display: inline-block;
}

.player {
  margin: 1em;
}


@media (min-width: 768px) {
  .player {
    position: fixed;
  }
}
