<span class="score-btn">
  <button class="btn btn-success"
          data-ng-click="score('hit', $index)"
          data-attr="track-id"><i class="fa fa-thumbs-o-up"></i>Hit
  </button>
</span>

<span class="score-btn">
  <button class="btn btn-danger"
          data-ng-click="score('miss', $index)"
          data-attr="track-id"><i
    class="fa fa-thumbs-o-down"></i>Miss
  </button>
</span>

<span class="score-btn">
  <button class="btn btn-info"
          data-ng-click="score('maybe', $index)"
          data-attr="track-id"><i
    class="fa fa-question"></i>Maybe
  </button>
</span>